/* Flex box container styling */
.main-container {
  display: flex; /* Enables Flexbox */
  flex-direction: row; /* Aligns children in a row */
  align-items: flex-start; /* Aligns items to the start of the flex container */
}


/* TABLE STYLING */
.table {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding-left: 15px;
  text-align: left;
}

.display-data {
  flex: 5;
}

.transaction-count {
  text-align: center;
}

/* TOOLBAR Styling - the toolbar contains the elements manipulating the data in the table  */
.toolbar {
  flex: 1;
  margin-left: 5%;
  margin-top: 25px;
}

/* CSV Upload Button Styling */
.btn-upload {
  padding: 10px 20px;
  margin: 10px;
  background-color: white;
  color: #0056b3;
  border: solid #0056b3;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn-upload:hover {
  background-color: #0056b3;
  color: white;
}

.btn-upload:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

/* Date Range Filter Styling */
.date-filter {
  margin-top: 1%;
}

/* NAVBAR Styling */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  position: relative;
}

.nav-links a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  left: 0;
  bottom: -5px;
}


